<!DOCTYPE html>
<html ng-app="app">

<head>
  <meta charset="utf-8" /> 
  <title>ol3 + angular + GeoJson</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <!-- Bootstrap -->
  <script src="vendor/jquery.min.js"></script>
  <link href="vendor/bootstrap.min.css" rel="stylesheet"/>
  <script src="vendor/bootstrap.min.js"></script>
  
  <!-- OpenLayers -->
  <script src="vendor/ol-debug.js"></script>
  <!-- <script src="vendor/ol.min.js"></script> -->
  <link rel="stylesheet" href="vendor/ol.css" />

  <script src="vendor/turf.min.js"></script>

  <!-- Angular -->
  <script src="vendor/angular.min.js"></script>
  <script src="vendor/angular-sanitize.min.js"></script>
  <script src="vendor/ui-bootstrap-tpls-0.12.0.min.js"></script>
  
  <!-- Application -->
  <script src="app/app.js"></script>
  <script src="app/MainController.js"></script>
  <script src="app/mapService.js"></script>
  <script src="app/geolocationService.js"></script>
  <script src="app/highlightFilter.js"></script>
  <script src="app/multipleFilter.js"></script>
  <link href="assets/css/style.css" rel="stylesheet" />

  <script src="vendor/angular-material-icons.min.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css' />

</head>
<!-- See http://turfjs.org/static/docs/ -->
<body ng-controller="mainController as mc">
  <div class="row-fluid">
    <tabset class="tabset"><button title="Where am I" ng-click="mc.geolocate()">Find Me</button></tabset>
    <tabset class="tabset">
      <div><a class="pull-right vcenter" ng-show="mc.search.length>0" ng-click="mc.cancelSearch()">Cancel Search</a></div>
      <tab active="mc.staticTabs.search">
        <div class="search-tab">
        <div class="input-group">
          <span class="input-group-addon"><ng-md-icon icon="search" style="fill: #000;" size="18"></ng-md-icon></span>
          <input type="text" class="form-control" ng-model="mc.search" ng-change="mc.find()" ng-model-options="{ debounce: 1000 }" aria-describedby="inputGroupSuccess1Status">
          <div class="input-group-addon">
            <span ng-show="mc.searchResults.length>0"><span>{{searchResults.length}}</span> Result/s</span>
          </div>
        </div>
        <div class="list" ng-show="mc.searchResults.length>0">
          <ul>
            <li ng-repeat="f in mc.searchResults" class="feature-result" ng-click="mc.selectFeature(f.feature);">
              <div>
                <span>{{f.searchText}}</span>
              </div>
            </li>
          </ul>
        </div>
        </div>
      </tab>
    </tabset>
  </div>
<div id="map"></div>
</body>
</html>
