<!DOCTYPE html>
<html ng-app="app">

<head>
  <meta charset="utf-8" /> 
  <title>ol3 + angular + GeoJson</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <!-- Bootstrap -->
  <script src="vendor/jquery.min.js"></script>
  <link href="vendor/bootstrap.min.css" rel="stylesheet"/>
  <script src="vendor/bootstrap.min.js"></script>
  
  <!-- OpenLayers -->
  <!--<script src="vendor/ol-debug.js"></script>-->
  <script src="vendor/ol.min.js"></script>
  <link rel="stylesheet" href="vendor/ol.css" />

  <script src="vendor/turf.min.js"></script>

  <!-- Angular -->
  <script src="vendor/angular.min.js"></script>
  <script src="vendor/angular-sanitize.min.js"></script>
  <script src="vendor/ui-bootstrap-tpls-0.12.0.min.js"></script>
  
  <!-- Application -->
  <script src="app/app.js"></script>
  <script src="app/MainController.js"></script>
  <script src="app/mapService.js"></script>
  <script src="app/geolocationService.js"></script>
  <script src="app/highlightFilter.js"></script>
  <script src="app/multipleFilter.js"></script>
  <link href="assets/css/style.css" rel="stylesheet" />

  <script src="vendor/angular-material-icons.min.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css' />

</head>
<!-- See http://turfjs.org/static/docs/ -->
<body ng-controller="mainController as mc">
<nav id="atop" class="navbar navbar-default topnav" role="navigation">
<div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Menu</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="./index.html" title="">
          <img id="main-logo" src="./images/header.png" class="img-responsive hidden-xs hidden-sm hidden-md" alt="logo" />
          <img id="main-logo" src="./images/header-xs.png" class="img-responsive visible-xs visible-sm visible-md" alt="logo" />
      </a>
    </div>
    <!-- MENU -->
    <div class="navbar-collapse collapse navbar-right">
        <ul class="nav navbar-nav">
                <li><a href="geolocation"><i class="fa fa-sort-alpha-desc"></i></a></li>
                <li><a href="page2.html"><i class="fa fa-anchor"></i></a></li>
                <li><a href="page3.html"><i class="fa fa-user"></i></a></li>
                <li><a href="page4.html"><i class="fa fa-magic"></i></a></li>
                <li><a href="page5.html"><i class="fa fa-camera"></i></a></li>
        </ul>
    </div>
</div>
</nav>
  <div class="row-fluid">
   <tabset class="tabset">
      <tab><div>Géolocalisation</div>
      <div><a class="pull-right vcenter" ng-click="mc.geolocate()">Locate me</a></div>
      </tab>

     <div><a class="pull-right vcenter" ng-show="mc.search.length>0" ng-click="mc.cancelSearch()">Cancel Search</a></div>
      <tab active="mc.staticTabs.search">
        <div><a class="pull-right vcenter" ng-show="mc.search.length>0" ng-click="mc.cancelSearch()">Cancel Search</a></div>
        <div class="search-tab">
        <div class="input-group">
          <span class="input-group-addon"><ng-md-icon icon="search" style="fill: #000;" size="18"></ng-md-icon></span>
          <input type="text" class="form-control" ng-model="mc.search" ng-change="mc.find()" ng-model-options="{ debounce: 1000 }" aria-describedby="inputGroupSuccess1Status">
          <div class="input-group-addon">
            <span ng-show="mc.searchResults.length>0"><span>{{searchResults.length}}</span> Result/s</span>
          </div>
        </div>
        <div class="list" ng-show="mc.searchResults.length>0">
          <ul>
            <li ng-repeat="f in mc.searchResults" class="feature-result" ng-click="mc.selectFeature(f.feature);">
              <div>
                <span>{{f.searchText}}</span>
              </div>
            </li>
          </ul>
        </div>
        </div>
      </tab>
    </tabset>
  </div>
  <div id="map"></div>
  <div id="info"></div>
</body>
</html>
